@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

header {
    display: none;
}

body {
    background-image: url("../assets/form-background.jpg");
    background-size: cover;
    font-family: sans-serif;
}

form {
    border: 0.375em solid #846450;
    border-radius: 1.25em;
    width: 50%;
    height: 75%;
    position: relative;
    margin: auto;
    margin-top: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2.5em;
    text-align: center;
}

form h1 {
    float: left;
    font-size: 3.125em;
    border-bottom: 0.08em solid #e00425;
    left: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.8em;
    padding: 0.4em;
    width: 75%;
    
}
.text-box {
    width: 50%;
    overflow: hidden;
    font-size: 1.56em;
    padding: 0.64em 0;
    margin: 0.32em 0;
    border: none;
    border-bottom: 0.04em solid #e00425;
    background: none;
    color: white;
}

.button {
    width: 25%;
    font-size: 1.56em;
    background: none;
    padding: 0.4em;
    border: 0.08em solid white;
    cursor: pointer;
    color: white;
}

form i {
    width: 1.25em;
    height: 1em;
    text-align: center;
    margin: 0.125em;
}

#error-message {
    width: 100%;
    float: left;
    margin-top: 3.125em;
    font-size: 2.188em;
}
