header {
    display: none;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../assets/home-background.jpg");
    background-size: cover;
}

.column {
    float: left;
    width: 33%;
    height: 75%;
    position: relative;
}



#title-card {
    border: 5px solid red;
    margin: auto;
    margin-top: 30px;
    padding: 35px;
    font-size: 60px;
    color: white;
    background: rgba(255, 0, 0, 0.8);
    text-align: center;
    text-shadow: 4px 4px black;
    width: 75%;
}

#site-brief {
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    width: 45%;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    background-color: black;
    color: white;
}

#top-3-boxes {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.top-3-box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    width: 75%;
    height: 200px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.top-3-header {
    font-size: 70px;
    color: red;
}

.top-3-row div {
    display: inline;
}

.number-one {
    font-size: 40px;
    color: yellow;
}

.number-two {
    color: silver;
}

.number-three {
    color: brown;
}