body {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

#site-banner img {
    display: block;
    padding: 0;
    margin: 0;
}

#nav-bar ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #bc9c78;
}

#nav-bar li {
    float: left;
}

#nav-bar a {
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
    font-size: 1.25em;
    color: black;
}

#nav-bar li a:hover {
    background-color: #8e6436;
}

form {
    margin: 0.625em;
}

.error {
    color: red;
}

#about-text {
    background-color: grey;
    width: 34.38em;
    border: 1em solid black;
    padding: 3.125em;
    margin: 1.25em;
}

#about-background {
    background-image: url('http://web.engr.oregonstate.edu/~pemblec/CS340-Project/assets/about-dirt.jpg');
}

#arena-background {
    background-image: url('http://web.engr.oregonstate.edu/~pemblec/CS340-Project/assets/arena-snow.jpg');
}

.error {
    color: red;
}
