body {
    padding: 0;
    margin: 0;
}

#site-banner img {
    display: block;
    padding: 0;
    margin: 0;
}

#nav-bar ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #bc9c78;
}

#nav-bar li {
    float: left;
}

#nav-bar a {
    display: block;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#nav-bar li a:hover {
    background-color: #8e6436;
}

form {
    margin: 10px;
}

.error {
    color: red;
}

#about-text {
    background-color: grey;
    width: 550px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
}

#about-background {
    background-image: url('http://web.engr.oregonstate.edu/~pemblec/CS340-Project/assets/about-dirt.jpg');
}
